@font-face {
    font-family: 'IRANSansWeb';
    src: url('/assets/farsisaz/fonts/Iransans.ttf') format('truetype');
}
body {
	font-family: "IRANSansWeb","b titr",Roboto, Arial, Droid Sans, sans-serif;
}
.page-head {
    font-family: "IRANSansWeb", "b titr", Roboto, Arial, Droid Sans, sans-serif;
}
.chart-container {
    font-family: -apple-system,"IRANSansWeb","b titr", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#plotId {
    font-family: 'IRANSansWeb','B Nazanin','nazanin','b nazanin', serif;
    border-radius: 15px;
    font-size: 12px;
    background-color: #cdcdcd ;
}
.datepicker-plot-area .datepicker-day-view .table-days td span:hover{
    background-color: #51a9ab !important;
    color: #fff;
    border: 0;
    text-shadow: none;
    border-radius: 15px;
}
.datepicker-plot-area .datepicker-day-view .table-days td.selected span{
    background-color: #9acccd !important;
    color: #fff;
    border-radius: 15px;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch:hover{
    background-color: white;
    border-bottom: solid 1px rgb(1, 136, 105) !important;
}
datepicker-plot-area .datepicker-day-view .table-days td.selected span, .datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected {
  background-color: #9acccd !important;
  color: #fff;
  border-radius: 15px;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover, .datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
  background-color: #51a9ab !important;
  border-radius: 15px;
 }
 .datepicker-plot-area .datepicker-day-view .table-days td {
    background: #feffff !important;
    border-radius: 15px;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    background-color: #feffff !important;
}